<html>
    <head>
        <meta name="viewport" content="width=device-width, height=device-height, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0">
        <style type="text/css">
            .counter{
                margin-top: 10px;
                margin-left: 30px;
                list-style-type: none;
                list-style-position: inside;
                counter-reset:item 0;
                
            }
            .counter > li{
                counter-increment: item 1;
                /* border-left: 2px rgb(164, 164, 164);
                border-right: 0px;
                border-top: 0px;
                border-bottom: 0px;
                border-style: solid; */
                /* failed to implement the vertical lines.. */
            }
            .counter > li:before{
                content:counter(item);
                margin-top: 5px;
                margin-right: 10px;
                width:30px;
                height:30px;
                line-height: 30px;
                background: #4BD686;;
                border-radius: 100%;
                color:white;
                text-align: center;
                display: inline-block;
            }
        </style>
    </head>
    <body>
        
        <header>
            <h2>Student Portal</h2>
        </header>

        <div class="d0">
            <div class="d1">Home</div>
            <div class="d1">|</div>
            <div class="d1">Contact Us</div>
        </div>


        <div class="forcenter">
            <div class="found">
                <div class="imgs" >
                    <img style="height: 45%; margin-left: 200px;" 
                    src="/images/transfer.png"
                    />
                </div>
                
                <div class="message">
                    <div>
                        <div class="horray">Horray! We have found</div>
                        <div class="horray">your document.</div>
                    </div>
                    <div>
                        <div class="dnum">{{proposal.protocol_code}} <br>
                            {{proposal.title}}
                        </div>
                       
                    </div>
                
                </div>
            </div>
            
        </div>
        
        <div class="process" style="margin-top: -400px;">
            <ol class="counter">
            {{#if proposal}}
                <li>
             
                    <div class ="upReceived">
                        <div class="rStatus">Proposal Received</div>
                        <div class="rDatetime">{{proposal.date_received}}</div>
                    
                    </div>
                </li>
                {{/if}}

                {{#if screening}}
                 <li>
                 <div class ="upScreening">
                       <div class="rStatus">Proposal Screening</div>
                       <div class="rDatetime">{{proposal.date_received}}</div>
                </div>
                <div style="margin-left: 50px;">
                    <div>{{screening.screening_activity}}</div>
                    <div>{{screening.comments}}</div>
                  </div>
                </li>
                {{/if}}
                 
            </ol>
            
        </div>



    </body>
</html>

<link rel="stylesheet" href="/css/searchresult.css">