
<li class="collection-item search-result-item proposal" id= "search-{{proposal_id}}" >
    <div class="row">
        <a href="!#" style="padding-top: 0px !important; text-align: start; color: #4A4AFF; font-weight: bold;">
            {{ protocol_code }}
        </a> 
        <a class="secondary-content" style="color: #8B83BA;"href="#!">
            <i class="material-icons">more_vert</i></a>
        <div class="status right" >
            {{!-- <div class="status-type {{#get_status status}}{{/get_status}} ">
                <span class = "circle {{#get_status status}}{{/get_status}} "></span>
                {{#get_status status}}{{/get_status}}
            </div> --}}
        </div>
    </div>
    <div class="due_date">{{due_date}}</div>
        <div class="assigned_ra">
            <label style="font-size: 10px; color:#6E6893; font-weight: bold;">Assigned to</label>
          <a href = "!#" style="font-weight: bold">{{ra}}</a>
        </div>
        <br>
        {{ title}}
        <div class="proponent-proposal" >
          <br>
          {{!-- <label style="font-size: 10px; color:#6E6893; font-weight: bold;">Proponents </label>
          {{#each proponents}}
          <div><b>{{name}}</b> ({{#if college}} {{college}} {{/if}} {{#if center}}, {{center}} {{/if}} )</div>
          {{/each}} --}}
      </div> 
</li>

