
            <div class="row" id="activity_" + {{screening_id}}>
              <h6>{{protocol_code}}</h6>
              <div class="input-field col s12">
                <input id="activity_name_{{screening_id}}" type="text" class="validate autocomplete activity_name_{{screening_id}} yep">
                <label for="actvity_name_{{screening_id}}">Activity</label>
              </div>
              <div class="input-field col s12">
                <input type="text" id="comments_{{screening_id}}" class="validate comments_{{screening_id}}">
                <label for="comments_{{screening_id}}">Comments</label>
             </div>
            </div>


